.all {
  display: flex;
  height: 40vmax;
  align-content: center;
}

.izq {
  width: 40%;
  height: 100%;
  padding: 40px 10px 10px 10px;
}

.der {
  width: 60%;
  height: 100%;
}

.fondo {
  background-image: url("../../../assets/fondo.jpg");
  background-size: cover;
  height: 100%;
  width: 90%;
}


